@navbar-height:50px;

.holygrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.holygrail-body {
    display: flex;
    flex: 1;
    margin-top: @navbar-height;
    max-height: calc(~'100vh - 10vh' - @navbar-height);
    flex-direction: column;
    overflow: auto;

    h3,h4 {
        display: flex;
        align-items: center;
    }

    h3{
        justify-content:center;
    }

    h4 {
        justify-content:flex-end;
    }

    .container{
        margin-top: -5px;

        .row {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-device-height: 480px) {
    .holygrail-body {
    }
}

.holygrail-content {
    flex: 1;
}

/*.holygrail-nav, .holygrail-ads {
    flex: 0 0 12em;
}

.holygrail-nav {
    order: -1;
}*/

/*header,*/
footer {
    max-height: 10vh;
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color:#293134;
    color:white;

    a,
    a:active,
    a:hover,
    a:focus{
        font-style: italic;
        border-bottom-width: 1px;
        border-bottom-style: dotted;
        color:white;
        text-decoration: none;
        outline:none;
    }  
}

.github-link {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 10vh;
}