.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    max-height: 10vh;
}

header,
footer {
    background-color:#293134;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex: 1;
    color:white;
}

footer p{
    font-style: italic;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

footer p,
footer a,
footer a:active,
footer a:hover,
footer a:focus{
    color:white;
    text-decoration: none;
    outline:none;
}

header h3{
    color:white;
    margin:0;
}

.HolyGrail-body {
    padding-top:20px;
    display: flex;
    flex: 1;
    max-height: 80vh;
    overflow: auto;
}

.HolyGrail-content {
    flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
    flex: 0 0 12em;
}

.HolyGrail-nav {
    order: -1;
}

.github-link {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 15vh;
}